<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="account">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="text-wrapper">Thông tin tài khoản</div>
        </div>
        <div class="topbar"></div>
        <div class="overlap-group">
          <div class="navbar">
            <div class="frame">
              <div class="items-left">
                <div class="div-2">
                  <img class="img" src="img/ph-map-pin-line.svg" />
                  <div class="text-wrapper-2">Shops</div>
                </div>
                <div class="div-2">
                  <img class="img" src="img/ph-phone.svg" />
                  <div class="text-wrapper-2">0990.257.937.</div>
                </div>
              </div>
              <div class="text-wrapper-3">FUSION</div>
              <div class="items-right">
                <button class="search-button">
                  <div class="text-wrapper-2">Search</div>
                  <img class="img" src="img/prime-search.svg" />
                </button>
                <img class="img" src="img/ph-user-circle-light.svg" />
                <img class="img" src="img/ph-heart.svg" />
                <img class="img" src="img/ph-shopping-cart-simple.svg" />
              </div>
            </div>
          </div>
          <img class="line" src="img/line-2.svg" />
        </div>
        <div class="text-wrapper-4">Tài khoản của tôi</div>
        <div class="overlap-2">
          <div class="text-wrapper-5">Đơn hàng</div>
          <div class="text-wrapper-6">Đổi mật khẩu</div>
        </div>
        <div class="home-my-account">Home/ My&nbsp;&nbsp;Account</div>
        <footer class="footer">
          <div class="footer-links">
            <div class="div-3">
              <div class="text-wrapper-7">Company</div>
              <div class="frame-2">
                <div class="text-wrapper-8">About us</div>
                <div class="text-wrapper-9">Carrer</div>
                <div class="text-wrapper-9">Terms and conditions</div>
                <div class="text-wrapper-9">Refund policy</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-7">Information</div>
              <div class="frame-2">
                <div class="text-wrapper-8">About us</div>
                <div class="text-wrapper-9">Carrer</div>
                <div class="text-wrapper-9">Terms and conditions</div>
                <div class="text-wrapper-9">Refund policy</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-7">Help</div>
              <div class="frame-2">
                <div class="text-wrapper-8">Shipping and returns</div>
                <div class="text-wrapper-9">Size guides</div>
                <div class="text-wrapper-9">Material and care</div>
                <div class="text-wrapper-9">How to pay</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-7">Help</div>
              <div class="frame-2">
                <div class="text-wrapper-8">Shipping and returns</div>
                <div class="text-wrapper-9">Size guides</div>
                <div class="text-wrapper-9">Material and care</div>
                <div class="text-wrapper-9">How to pay</div>
              </div>
            </div>
          </div>
          <img class="line-2" src="img/line-3.svg" />
          <div class="terms-and-conditions">
            <div class="text-wrapper-10">FUSION</div>
            <div class="frame-3">
              <div class="text-wrapper-11">Tems</div>
              <div class="text-wrapper-11">Privacy</div>
              <div class="text-wrapper-11">Cookie</div>
            </div>
            <div class="frame-4">
              <div class="group">
                <div class="overlap-group-2">
                  <img class="typcn-social" src="img/typcn-social-linkedin.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="group">
                <div class="overlap-group-2">
                  <img class="vector" src="img/image.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="group">
                <div class="overlap-group-2">
                  <img class="vector-2" src="img/vector.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="text-wrapper-12">Profile Details</div>
        <div class="text-wrapper-13">Full Name</div>
        <div class="text-wrapper-14">Phone number</div>
        <div class="text-wrapper-15">Email</div>
        <div class="overlap-3">
          <div class="text-wrapper-16">Gender</div>
          <div class="ellipse-2"></div>
        </div>
        <div class="text-wrapper-17">Date of birth</div>
        <div class="overlap-4">
          <div class="text-wrapper-16">Male</div>
          <div class="text-wrapper-18">Female</div>
          <div class="ellipse-3"></div>
        </div>
        <div class="overlap-5">
          <img class="rectangle-2" src="img/rectangle-70.svg" />
          <div class="text-wrapper-19">Edit</div>
        </div>
      </div>
    </div>
  </body>
</html>
