<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cart">
      <div class="div">
        <div class="topbar"></div>
        <div class="overlap">
          <div class="navbar">
            <div class="frame">
              <div class="items-left">
                <div class="div-2">
                  <img class="img" src="img/ph-map-pin-line.svg" />
                  <div class="text-wrapper">Shops</div>
                  <div class="text-wrapper">Shops</div>
                </div>
                <div class="div-2">
                  <img class="img" src="img/ph-phone.svg" />
                  <div class="text-wrapper">0990.257.937.</div>
                  <div class="text-wrapper">0990.257.937.</div>
                </div>
              </div>
              <div class="text-wrapper-2">FUSION</div>
              <div class="items-right">
                <button class="search-button">
                  <div class="text-wrapper">Search</div>
                  <img class="img" src="img/prime-search.svg" />
                  <div class="text-wrapper">Search</div>
                </button>
                <img class="img" src="img/ph-user-circle-light.svg" />
                <img class="img" src="img/ph-heart.svg" />
                <img class="img" src="img/ph-shopping-cart-simple.svg" />
              </div>
            </div>
          </div>
          <img class="line" src="img/line-2.svg" />
          <img class="line" src="img/line-2-2.svg" />
          <div class="menu">
            <div class="navbar-wrapper">
              <div class="navbar-2">
                <div class="text-wrapper-3">Jewelry</div>
                <div class="text-wrapper-3">Nhẫn</div>
                <div class="text-wrapper-3">Vòng Cổ</div>
                <div class="text-wrapper-3">Vòng Tay</div>
                <div class="text-wrapper-3">Bông Tai</div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-4">Giỏ hàng</div>
        <footer class="footer">
          <div class="footer-links">
            <div class="div-3">
              <div class="text-wrapper-5">Company</div>
              <div class="frame-2">
                <div class="text-wrapper-6">About us</div>
                <div class="text-wrapper-7">Carrer</div>
                <div class="text-wrapper-7">Terms and conditions</div>
                <div class="text-wrapper-7">Refund policy</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-5">Information</div>
              <div class="frame-2">
                <div class="text-wrapper-6">About us</div>
                <div class="text-wrapper-7">Carrer</div>
                <div class="text-wrapper-7">Terms and conditions</div>
                <div class="text-wrapper-7">Refund policy</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-5">Help</div>
              <div class="frame-2">
                <div class="text-wrapper-6">Shipping and returns</div>
                <div class="text-wrapper-7">Size guides</div>
                <div class="text-wrapper-7">Material and care</div>
                <div class="text-wrapper-7">How to pay</div>
              </div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-5">Help</div>
              <div class="frame-2">
                <div class="text-wrapper-6">Shipping and returns</div>
                <div class="text-wrapper-7">Size guides</div>
                <div class="text-wrapper-7">Material and care</div>
                <div class="text-wrapper-7">How to pay</div>
              </div>
            </div>
          </div>
          <img class="line-2" src="img/line-3.svg" />
          <div class="terms-and-conditions">
            <div class="text-wrapper-8">FUSION</div>
            <div class="frame-3">
              <div class="text-wrapper-9">Tems</div>
              <div class="text-wrapper-9">Privacy</div>
              <div class="text-wrapper-9">Cookie</div>
            </div>
            <div class="frame-4">
              <div class="group">
                <div class="overlap-group">
                  <img class="typcn-social" src="img/typcn-social-linkedin.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="group">
                <div class="overlap-group">
                  <img class="vector" src="img/vector.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="group">
                <div class="overlap-group">
                  <img class="vector-2" src="img/image.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="product">PRODUCT</div>
        <div class="quantity">QUANTITY</div>
        <div class="total">TOTAL</div>
        <div class="popap">
          <div class="frame-5">
            <div class="text-wrapper-10">Order Summary</div>
            <img class="img" src="img/iconoir-nav-arrow-up.svg" />
          </div>
          <div class="frame-6">
            <div class="div-4">
              <div class="frame-7">
                <img class="rectangle" src="img/rectangle-44.png" />
                <div class="frame-8">
                  <div class="gold-ring-with">GOLD RING WITH DIAMOND</div>
                  <div class="text-wrapper-11">Size: 17</div>
                  <div class="text-wrapper-12">$34.222</div>
                </div>
              </div>
              <img class="img" src="img/icon.svg" />
            </div>
            <div class="div-5">
              <div class="div-4">
                <div class="placeholder-wrapper"><div class="placeholder">Coupon code</div></div>
                <button class="button"><div class="add-code">Add Code</div></button>
              </div>
              <img class="line-3" src="img/line-10.svg" />
              <div class="div-5">
                <div class="frame-9">
                  <div class="text-wrapper-13">Subtotal</div>
                  <div class="text-wrapper-14">$34.222</div>
                </div>
                <div class="frame-10">
                  <div class="text-wrapper-13">Shipping</div>
                  <div class="text-wrapper-15">FREE</div>
                </div>
                <div class="frame-10">
                  <div class="text-wrapper-13">Discount</div>
                  <div class="text-wrapper-16">-</div>
                </div>
                <div class="frame-10">
                  <div class="text-wrapper-13">Tax</div>
                  <div class="text-wrapper-16">-</div>
                </div>
              </div>
              <img class="line-3" src="img/line-11.svg" />
              <div class="frame-9">
                <div class="text-wrapper-10">Total</div>
                <div class="text-wrapper-17">$489</div>
              </div>
            </div>
          </div>
        </div>
        <img class="line-4" src="img/line-1.svg" />
        <div class="text-wrapper-18">$499</div>
        <div class="div-wrapper"><div class="text-wrapper-19">1</div></div>
        <img class="hicon-linear-minus" src="img/minus.svg" />
        <img class="hicon-linear-add" src="img/add.svg" />
        <div class="cosmograph-daytona">COSMOGRAPH DAYTONA</div>
        <div class="text-wrapper-20">A123CD</div>
        <div class="text-wrapper-21">$499</div>
        <div class="overlap-wrapper">
          <div class="overlap-2"><div class="text-wrapper-22">Thanh toán</div></div>
        </div>
        <img class="rectangle-2" src="img/rectangle-71.png" />
        <img class="rectangle-3" src="img/rectangle-71-2.png" />
        <div class="text-wrapper-23">$499</div>
        <div class="overlap-3"><div class="text-wrapper-19">1</div></div>
        <img class="hicon-linear-minus-2" src="img/minus.svg" />
        <img class="hicon-linear-add-2" src="img/add.svg" />
        <div class="cosmograph-daytona-2">COSMOGRAPH DAYTONA</div>
        <div class="text-wrapper-24">A123CD</div>
        <div class="text-wrapper-25">$499</div>
        <img class="rectangle-4" src="img/image.png" />
        <div class="text-wrapper-26">$499</div>
        <div class="overlap-4"><div class="text-wrapper-19">1</div></div>
        <img class="hicon-linear-minus-3" src="img/minus.svg" />
        <img class="hicon-linear-add-3" src="img/add.svg" />
        <div class="cosmograph-daytona-3">COSMOGRAPH DAYTONA</div>
        <div class="text-wrapper-27">A123CD</div>
        <div class="text-wrapper-28">$499</div>
      </div>
    </div>
  </body>
</html>
