:root {
    --primary-color: rgba(188, 150, 115, 1);
    --black-color: rgba(52, 33, 10, 1);
    --secondary: rgba(254, 253, 255, 1);
    --purplesource: rgba(188, 150, 115, 1);
    --purple-50: rgba(255, 255, 255, 1);
    --purple-100: rgba(242, 230, 221, 1);
    --purple-200: rgba(227, 206, 188, 1);
    --purple-300: rgba(211, 182, 158, 1);
    --purple-400: rgba(193, 160, 130, 1);
    --purple-500: rgba(174, 138, 105, 1);
    --purple-600: rgba(152, 117, 83, 1);
    --purple-700: rgba(130, 97, 65, 1);
    --purple-800: rgba(108, 79, 50, 1);
    --purple-900: rgba(85, 61, 38, 1);
    --h1-font-family: "Source Serif 4", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 63px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "Source Serif 4", Helvetica;
    --h2-font-weight: 700;
    --h2-font-size: 42px;
    --h2-letter-spacing: 0.42px;
    --h2-line-height: 63px;
    --h2-font-style: normal;
    --h3-font-family: "Source Serif 4", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 26px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 39px;
    --h3-font-style: normal;
    --subtitle-font-family: "Source Serif 4", Helvetica;
    --subtitle-font-weight: 400;
    --subtitle-font-size: 26px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 39px;
    --subtitle-font-style: normal;
    --bold-text-font-family: "Source Serif 4", Helvetica;
    --bold-text-font-weight: 700;
    --bold-text-font-size: 16px;
    --bold-text-letter-spacing: 0px;
    --bold-text-line-height: normal;
    --bold-text-font-style: normal;
    --button-text-font-family: "Source Serif 4", Helvetica;
    --button-text-font-weight: 600;
    --button-text-font-size: 14px;
    --button-text-letter-spacing: 0px;
    --button-text-line-height: normal;
    --button-text-font-style: normal;
    --body-text-font-family: "Source Serif 4", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 16px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: normal;
    --body-text-font-style: normal;
    --small-text-font-family: "Source Serif 4", Helvetica;
    --small-text-font-weight: 400;
    --small-text-font-size: 14px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: normal;
    --small-text-font-style: normal;
  }
  