<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/cata.css" />
  </head>
  <body>
    <div class="catalog">
      <div class="div">
        <div class="scrol">
          <div class="component">
            <div class="overlap">
              <div class="title"><div class="text-wrapper">Category</div></div>
              <img class="line" src="img/line-5.svg" />
            </div>
            <div class="overlap-group">
              <div class="div-wrapper"><div class="text-wrapper">Price range</div></div>
              <img class="line" src="img/line-6.svg" />
            </div>
            <div class="overlap-2">
              <div class="title-2"><div class="text-wrapper">Brands</div></div>
              <img class="line" src="img/line-7.svg" />
            </div>
            <div class="title-3"><div class="text-wrapper-2">Charms (23)</div></div>
            <div class="title-4"><div class="text-wrapper-2">Charms (23)</div></div>
            <div class="title-5"><div class="text-wrapper-2">Charms (23)</div></div>
            <div class="title-6"><div class="text-wrapper-2">Bracelets (58)</div></div>
            <div class="title-7"><div class="text-wrapper-2">Bracelets (58)</div></div>
            <div class="title-8"><div class="text-wrapper-2">Bracelets (58)</div></div>
            <div class="title-9"><div class="text-wrapper-2">Rings (156)</div></div>
            <div class="title-10"><div class="text-wrapper-2">Rings (156)</div></div>
            <div class="title-11"><div class="text-wrapper-2">Rings (156)</div></div>
            <div class="title-12"><div class="text-wrapper-2">Necklace (42)</div></div>
            <div class="title-13"><div class="text-wrapper-2">Necklace (42)</div></div>
            <div class="title-14"><div class="text-wrapper-2">Necklace (42)</div></div>
            <div class="title-15"><div class="text-wrapper-2">Earrings (127)</div></div>
            <div class="title-16"><div class="text-wrapper-2">Earrings (127)</div></div>
            <div class="title-17"><div class="text-wrapper-2">Earrings (127)</div></div>
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
            <div class="rectangle-12"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-14"></div>
            <div class="rectangle-15"></div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="navbar">
            <div class="frame">
              <div class="items-left">
                <div class="div-2">
                  <img class="img" src="img/ph-map-pin-line.svg" />
                  <div class="text-wrapper-3">Shops</div>
                </div>
                <div class="div-2">
                  <img class="img" src="img/ph-phone.svg" />
                  <div class="text-wrapper-3">0990.257.937.</div>
                </div>
              </div>
              <div class="text-wrapper-4">FUSION</div>
              <div class="items-right">
                <button class="search-button">
                  <div class="text-wrapper-3">Search</div>
                  <img class="img" src="img/prime-search.svg" />
                </button>
                <img class="img" src="img/ph-user-circle-light.svg" />
                <img class="img" src="img/ph-heart.svg" />
                <img class="img" src="img/ph-shopping-cart-simple.svg" />
              </div>
            </div>
          </div>
          <div class="text-wrapper-5">Comfort</div>
          <div class="text-wrapper-6">200 Results</div>
          <div class="menu">
            <div class="navbar-2">
              <div class="text-wrapper-7">Jewelry</div>
              <div class="text-wrapper-7">Nhẫn</div>
              <div class="text-wrapper-7">Vòng Cổ</div>
              <div class="text-wrapper-7">Vòng Tay</div>
              <div class="text-wrapper-7">Bông Tai</div>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="rectangle-16"></div>
          <div class="frame-2">
            <div class="property-default">
              <div class="text-wrapper-8">25 - 30 December</div>
              <div class="overlap-group-2">
                <div class="BLACK-FRIDAY">BLACK<br />FRIDAY</div>
                <div class="text-wrapper-9">HASTA</div>
              </div>
              <p class="element"><span class="span">40</span> <span class="text-wrapper-10">%</span></p>
            </div>
            <div class="property">
              <div class="text-wrapper-8">25 - 30 December</div>
              <div class="overlap-group-2">
                <div class="BLACK-FRIDAY-2">BLACK<br />FRIDAY</div>
                <div class="text-wrapper-11">HASTA</div>
              </div>
              <p class="p"><span class="text-wrapper-12">40</span> <span class="text-wrapper-10">%</span></p>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="frame-3"><div class="text-wrapper-13">LEARN MORE</div></div>
          <div class="frame-4">
            <div class="component-2">
              <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
              <p class="element-2">
                <span class="text-wrapper-15">47,20 € </span>
                <span class="text-wrapper-16">&nbsp;&nbsp;</span>
                <span class="text-wrapper-17">59,00 €</span>
              </p>
              <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
              <div class="ellipse-wrapper"><div class="ellipse"></div></div>
              <div class="frame-5"></div>
              <div class="frame-6"></div>
              <div class="like-wrapper"><img class="like" src="img/like-2.svg" /></div>
            </div>
            <div class="component-2">
              <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
              <p class="element-2">
                <span class="text-wrapper-15">47,20 € </span>
                <span class="text-wrapper-16">&nbsp;&nbsp;</span>
                <span class="text-wrapper-17">59,00 €</span>
              </p>
              <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
              <div class="ellipse-wrapper"><div class="ellipse"></div></div>
              <div class="frame-5"></div>
              <div class="frame-6"></div>
              <div class="img-wrapper"><img class="like" src="img/like-2.svg" /></div>
            </div>
            <div class="component-2">
              <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
              <p class="element-2">
                <span class="text-wrapper-15">47,20 € </span>
                <span class="text-wrapper-16">&nbsp;&nbsp;</span>
                <span class="text-wrapper-17">59,00 €</span>
              </p>
              <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
              <div class="ellipse-wrapper"><div class="ellipse"></div></div>
              <div class="frame-5"></div>
              <div class="frame-6"></div>
              <div class="frame-7"><img class="like" src="img/like-2.svg" /></div>
            </div>
          </div>
        </div>
        <div class="frame-8">
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-9"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-10"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-11"><img class="like" src="img/like-2.svg" /></div>
          </div>
        </div>
        <div class="frame-12">
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-13"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-14"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-15"><img class="like" src="img/like-2.svg" /></div>
          </div>
        </div>
        <div class="frame-16">
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-17"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-18"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-19"><img class="like" src="img/like-2.svg" /></div>
          </div>
        </div>
        <div class="frame-20">
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-21"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-22"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-23"><img class="like" src="img/like-2.svg" /></div>
          </div>
        </div>
        <div class="frame-24">
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-25"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-26"><img class="like" src="img/like-2.svg" /></div>
          </div>
          <div class="component-2">
            <div class="text-wrapper-14">-20% BLACK FRIDAY</div>
            <p class="element-2">
              <span class="text-wrapper-15">47,20 € </span>
              <span class="text-wrapper-16">&nbsp;&nbsp;</span>
              <span class="text-wrapper-17">59,00 €</span>
            </p>
            <p class="text-wrapper-18">Pulsera Moments Cadena de Serpiente con cierre de Corazón</p>
            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-27"><img class="like" src="img/like-2.svg" /></div>
          </div>
        </div>
        <div class="component-3"><div class="text-wrapper-19">More</div></div>
        <p class="for-every-passion-in">For every <br />passion in <br />your repertoire</p>
        <div class="overlap-wrapper">
          <div class="frame-wrapper">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="frame-wrapper">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="frame-29">
          <div class="frame-wrapper">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="frame-30">
          <div class="overlap-6">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="frame-31">
          <div class="overlap-6">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="frame-32">
          <div class="overlap-6">
            <div class="frame-28"><div class="text-wrapper-20">SHOP NOW</div></div>
          </div>
        </div>
        <div class="text-wrapper-21">EXPLORE OUR CATALOGO</div>
        <div class="frame-33">
          <div class="component-4"><div class="text-wrapper-22">Rings</div></div>
          <div class="rings-wrapper"><div class="rings">Bracelets</div></div>
          <div class="component-5"><div class="rings-2">Earrings</div></div>
          <div class="component-6"><div class="text-wrapper-22">Charms</div></div>
          <div class="component-7"><div class="rings-3">Necklace</div></div>
          <div class="component-8"><div class="rings-4">Silver</div></div>
          <div class="frame-34">
            <div class="component-9"><div class="rings-5">Gold</div></div>
            <div class="component-10"><div class="rings-6">Chains</div></div>
          </div>
        </div>
        <div class="overlap-7">
          <div class="frame-35">
            <img class="ANITA" src="img/ANITA.png" />
            <p class="text-wrapper-23">
              This growth plan will help you reach your resolutions and achieve the goals you have been striving
              towards.
            </p>
            <div class="social-icons">
              <img class="img" src="img/image.svg" />
              <img class="img" src="img/social-icon-5.svg" />
              <img class="img" src="img/social-icon-3.svg" />
              <img class="img" src="img/social-icon-2.svg" />
              <img class="img" src="img/social-icon-4.svg" />
              <img class="img" src="img/social-icon.svg" />
            </div>
          </div>
          <div class="group">
            <div class="frame-36">
              <div class="text-wrapper-24">Buy Product</div>
              <div class="text-wrapper-25">Sell Product</div>
              <div class="text-wrapper-25">Our Creator</div>
            </div>
            <div class="frame-37">
              <div class="text-wrapper-24">About Us</div>
              <div class="text-wrapper-25">Event</div>
              <div class="text-wrapper-25">Tutorial</div>
            </div>
            <div class="frame-38">
              <div class="text-wrapper-24">Media</div>
              <div class="text-wrapper-25">Blog</div>
              <div class="text-wrapper-25">Pricing</div>
            </div>
            <div class="frame-39">
              <div class="text-wrapper-24">Terms</div>
              <div class="text-wrapper-25">Privacy</div>
              <div class="text-wrapper-25">Support</div>
            </div>
            <div class="menu-list">
              <div class="text-wrapper-26">Marketplace</div>
              <div class="text-wrapper-26">Resources</div>
              <div class="text-wrapper-26">Company</div>
              <div class="text-wrapper-26">Legal</div>
            </div>
          </div>
          <div class="content"><p class="footer-text">© 2077 ANITA. All rights reserved.</p></div>
          <div class="overlap-8">
            <div class="rectangle-17"></div>
            <div class="title-18"><p class="text-wrapper-27">Get the Latest From ANITA</p></div>
            <div class="title-19">
              <p class="text-wrapper-28">
                Be the first to hear about new arrivals, promotions, style inspiration and exclusive sneak peeks.
              </p>
            </div>
            <div class="title-20"><div class="text-wrapper-29">Enter email address</div></div>
          </div>
          <div class="component-11"><div class="text-wrapper-30">SING UP</div></div>
        </div>
        <div class="section-footer"></div>
      </div>
    </div>
  </body>
</html>
