<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="checkout-contacts">
      <div class="div">
        <div class="overlap">
          <div class="popap">
            <div class="frame">
              <div class="text-wrapper">Order Summary</div>
              <img class="img" src="img/iconoir-nav-arrow-up-2.svg" />
            </div>
            <div class="frame-2">
              <div class="div-2">
                <div class="frame-3">
                  <img class="rectangle" src="img/rectangle-44.png" />
                  <div class="frame-4">
                    <div class="gold-ring-with">GOLD RING WITH DIAMOND</div>
                    <div class="text-wrapper-2">Size: 17</div>
                    <div class="text-wrapper-3">$34.222</div>
                  </div>
                </div>
                <img class="img" src="img/icon.svg" />
              </div>
              <div class="div-3">
                <div class="div-2">
                  <div class="placeholder-wrapper"><div class="placeholder">Coupon code</div></div>
                  <button class="button"><div class="add-code">Add Code</div></button>
                </div>
                <img class="line" src="img/line-10-2.svg" />
                <div class="div-3">
                  <div class="frame">
                    <div class="text-wrapper-4">Subtotal</div>
                    <div class="text-wrapper-5">$34.222</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Shipping</div>
                    <div class="text-wrapper-6">FREE</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Discount</div>
                    <div class="text-wrapper-7">-</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Tax</div>
                    <div class="text-wrapper-7">-</div>
                  </div>
                </div>
                <img class="line" src="img/line-11-2.svg" />
                <div class="frame">
                  <div class="text-wrapper">Total</div>
                  <div class="text-wrapper-8">$489</div>
                </div>
              </div>
            </div>
          </div>
          <div class="popap">
            <div class="frame">
              <div class="text-wrapper">Order Summary</div>
              <img class="img" src="img/iconoir-nav-arrow-up.svg" />
            </div>
            <div class="frame-2">
              <div class="div-2">
                <div class="frame-3">
                  <img class="rectangle" src="img/image.png" />
                  <div class="frame-4">
                    <div class="gold-ring-with">GOLD RING WITH DIAMOND</div>
                    <div class="text-wrapper-2">Size: 17</div>
                    <div class="text-wrapper-3">$34.222</div>
                  </div>
                </div>
                <img class="img" src="img/icon.svg" />
              </div>
              <div class="div-3">
                <div class="div-2">
                  <div class="placeholder-wrapper"><div class="placeholder">Coupon code</div></div>
                  <button class="button"><div class="add-code">Add Code</div></button>
                </div>
                <img class="line" src="img/line-10.svg" />
                <div class="div-3">
                  <div class="frame">
                    <div class="text-wrapper-4">Subtotal</div>
                    <div class="text-wrapper-5">$34.222</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Shipping</div>
                    <div class="text-wrapper-6">FREE</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Discount</div>
                    <div class="text-wrapper-7">-</div>
                  </div>
                  <div class="frame-5">
                    <div class="text-wrapper-4">Tax</div>
                    <div class="text-wrapper-7">-</div>
                  </div>
                </div>
                <img class="line" src="img/line-11.svg" />
                <div class="frame">
                  <div class="text-wrapper">Total</div>
                  <div class="text-wrapper-8">$489</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar">
          <div class="frame-6">
            <div class="div-4">
              <div class="div-5">
                <img class="img" src="img/ph-map-pin-line.svg" />
                <div class="text-wrapper-9">Shops</div>
                <div class="text-wrapper-9">Shops</div>
              </div>
              <div class="div-5">
                <img class="img" src="img/ph-phone.svg" />
                <div class="text-wrapper-9">0990.257.937.</div>
                <div class="text-wrapper-9">0990.257.937.</div>
              </div>
            </div>
            <div class="text-wrapper-10">FUSION</div>
            <div class="items-right">
              <button class="search-button">
                <div class="text-wrapper-9">Search</div>
                <img class="img" src="img/prime-search.svg" />
                <div class="text-wrapper-9">Search</div>
              </button>
              <img class="img" src="img/ph-user-circle-light.svg" />
              <img class="img" src="img/ph-heart.svg" />
              <img class="img" src="img/ph-shopping-cart-simple.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-group"><img class="line-2" src="img/line-2.svg" /></div>
        <div class="text-wrapper-11">Thanh toán</div>
        <div class="overlap-2">
          <button class="more-wrapper"><div class="more">Continue</div></button>
          <div class="info">
            <div class="contact">
              <div class="text-wrapper-12">1. Shiping Address</div>
              <div class="div-3">
                <div class="div-2">
                  <div class="input">
                    <div class="email-address">First Name</div>
                    <div class="email-address-wrapper"><div class="email-address-2">First Name</div></div>
                  </div>
                  <div class="input">
                    <div class="email-address">Last Name</div>
                    <div class="email-address-wrapper"><div class="email-address-2">Last Name</div></div>
                  </div>
                </div>
                <div class="input">
                  <div class="email-address">Country</div>
                  <div class="frame-7">
                    <div class="email-address-3">Country</div>
                    <img class="img" src="img/iconoir-nav-arrow-right.svg" />
                  </div>
                </div>
                <div class="input">
                  <div class="email-address">Street Addres</div>
                  <div class="div-wrapper"><div class="email-address-3">Street Addres</div></div>
                </div>
                <div class="button-learn-more"><div class="text-wrapper-13">+ Add Line 2</div></div>
                <div class="input">
                  <div class="email-address">City</div>
                  <div class="div-wrapper"><div class="email-address-3">City</div></div>
                </div>
                <div class="div-2">
                  <div class="input">
                    <div class="email-address">State</div>
                    <div class="frame-8">
                      <div class="email-address-3">State</div>
                      <img class="img" src="img/image.svg" />
                    </div>
                  </div>
                  <div class="input">
                    <div class="email-address">Zip Code</div>
                    <div class="email-address-wrapper"><div class="email-address-4">Zip Code</div></div>
                  </div>
                </div>
                <div class="input">
                  <div class="email-address">Phone Number</div>
                  <div class="div-wrapper"><div class="email-address-3">Phone Number</div></div>
                </div>
                <div class="div-4">
                  <img class="img" src="img/ri-check-line.svg" />
                  <p class="label">Save this informations for a future fast checkout</p>
                </div>
                <div class="div-4">
                  <img class="img" src="img/ri-check-line-2.svg" />
                  <div class="label">Receive SMS Notifications</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="overlap-group-2"><div class="text-wrapper-14">Đặt hàng</div></div>
        </div>
        <footer class="footer">
          <div class="footer-links">
            <div class="div-6">
              <div class="text-wrapper-15">Company</div>
              <div class="frame-9">
                <div class="text-wrapper-16">About us</div>
                <div class="text-wrapper-17">Carrer</div>
                <div class="text-wrapper-17">Terms and conditions</div>
                <div class="text-wrapper-17">Refund policy</div>
              </div>
            </div>
            <div class="div-6">
              <div class="text-wrapper-15">Information</div>
              <div class="frame-9">
                <div class="text-wrapper-16">About us</div>
                <div class="text-wrapper-17">Carrer</div>
                <div class="text-wrapper-17">Terms and conditions</div>
                <div class="text-wrapper-17">Refund policy</div>
              </div>
            </div>
            <div class="div-6">
              <div class="text-wrapper-15">Help</div>
              <div class="frame-9">
                <div class="text-wrapper-16">Shipping and returns</div>
                <div class="text-wrapper-17">Size guides</div>
                <div class="text-wrapper-17">Material and care</div>
                <div class="text-wrapper-17">How to pay</div>
              </div>
            </div>
            <div class="div-6">
              <div class="text-wrapper-15">Help</div>
              <div class="frame-9">
                <div class="text-wrapper-16">Shipping and returns</div>
                <div class="text-wrapper-17">Size guides</div>
                <div class="text-wrapper-17">Material and care</div>
                <div class="text-wrapper-17">How to pay</div>
              </div>
            </div>
          </div>
          <img class="line-3" src="img/line-3.svg" />
          <div class="terms-and-conditions">
            <div class="text-wrapper-18">FUSION</div>
            <div class="frame-10">
              <div class="text-wrapper-19">Tems</div>
              <div class="text-wrapper-19">Privacy</div>
              <div class="text-wrapper-19">Cookie</div>
            </div>
            <div class="frame-11">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3">
                  <img class="typcn-social" src="img/typcn-social-linkedin.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3">
                  <img class="vector" src="img/vector.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3">
                  <img class="vector-2" src="img/vector-2.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="topbar"></div>
        <div class="menu">
          <div class="navbar-wrapper">
            <div class="navbar-2">
              <div class="text-wrapper-20">Jewelry</div>
              <div class="text-wrapper-20">Nhẫn</div>
              <div class="text-wrapper-20">Vòng Cổ</div>
              <div class="text-wrapper-20">Vòng Tay</div>
              <div class="text-wrapper-20">Bông Tai</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
