<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="navbar">
              <div class="frame"><div class="text-wrapper">Đăng nhập</div></div>
            </div>
            <img class="line" src="img/line-2.svg" />
            <div class="menu"></div>
            <div class="group">
              <div class="div">
                <div class="text-wrapper-2">Số điện thoại</div>
                <img class="img" src="img/frame.svg" />
              </div>
            </div>
            <img class="fusion" src="img/fusion-1.png" />
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <p class="ng-nh-p-b-ng-c-ch-kh">
                <span class="span">Đăng nhập</span> <span class="text-wrapper-3"> bằng cách khác</span>
              </p>
              <img class="subtract" src="img/subtract.svg" />
            </div>
          </div>
          <div class="div-wrapper">
            <div class="div">
              <div class="text-wrapper-4">Mật khẩu</div>
              <img class="img" src="img/image.svg" />
            </div>
          </div>
          <div class="group-2">
            <div class="overlap-2"><div class="text-wrapper-5">Đăng nhập</div></div>
          </div>
          <div class="group-3">
            <div class="group-wrapper">
              <div class="group-4">
                <p class="ng-nh-p-v-i-google">
                  <span class="text-wrapper-6">Đăng nhập với </span> <span class="text-wrapper-7">google</span>
                </p>
                <img class="img-2" src="img/google-1.png" />
              </div>
            </div>
            <div class="group-5">
              <div class="group-6">
                <p class="ng-nh-p-v-i-facebook">
                  <span class="text-wrapper-6">Đăng nhập với </span> <span class="text-wrapper-7">Facebook</span>
                </p>
                <img class="img-2" src="img/facebook-1.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
